export CNDR_ROOT="$PWD"
export CNDR_BUILDDIR="build"
export CNDR_BUILDPATH="$CNDR_ROOT/$CNDR_BUILDDIR"

export CANDOR_STDLIB_DIR="$CNDR_ROOT/stdlib/"

build() {
  if [ ! -d "$CNDR_BUILDPATH" ]; then
    echo "$CNDR_BUILDDIR/ does not exist, setting up build"
    cd "$CNDR_ROOT"
    meson setup "$CNDR_BUILDDIR"
    cd "$CNDR_BUILDPATH"
    ninja
    meson configure -Dprefix="$CNDR_BUILDPATH/install"
    meson install
  fi

  cd "$CNDR_BUILDPATH"
  meson compile
  return $?
}

run() {
  build && "$CNDR_BUILDPATH/candor"
}

debug() {
  build && gdb "$CNDR_BUILDPATH/candor"
}

checkmem() {
  build && vg --leak-check=full --track-origins=yes "$CNDR_BUILDPATH/candor"
}

# https://github.com/direnv/direnv/issues/73#issuecomment-174295790
export_alias() {
  local name=$1
  shift
  local alias_dir=$PWD/.direnv/aliases
  local target="$alias_dir/$name"
  mkdir -p "$alias_dir"
  PATH_add "$alias_dir"
  echo "#!$SHELL" > "$target"
  echo "$@" '$*' >> "$target"
  chmod +x "$target"
}

if command -v guix &> /dev/null; then
  ## Fix valgrind missing symbols
  # https://lists.gnu.org/archive/html/help-guix/2022-03/msg00036.html
  GLIBC_DEBUG_PATH=$(guix build -e '(@@ (gnu packages commencement) glibc-final)' | grep debug | tail --lines 1)
  export_alias vg "valgrind --extra-debuginfo-path=$GLIBC_DEBUG_PATH/lib/debug/"

  eval "$(guix environment --manifest=guix-manifest.scm --search-paths)"
else
  export_alias vg "valgrind"
fi

# https://github.com/direnv/direnv/issues/73#issuecomment-152284914
export_function() {
  local name=$1
  local alias_dir=$PWD/.direnv/aliases
  mkdir -p "$alias_dir"
  PATH_add "$alias_dir"
  local target="$alias_dir/$name"

  if declare -f "$name" >/dev/null; then
    echo "#!$SHELL" > "$target"
    declare -f "$name" >> "$target" 2>/dev/null
    # Notice that we add shell variables to the function trigger.
    echo "$name \$*" >> "$target"
    chmod +x "$target"
  fi
}

echo -e "\nFunctions:"

export_function build
echo "  build    - Build Candor"

export_function run
echo "  run      - Build and run Candor"

export_function debug
echo "  debug    - Build and run Candor through GDB"

export_function checkmem
echo "  checkmem - Build and run Candor through Valgrind"


echo -e "\nNote: functions are only meant for development\n"
